* {
  font-style: normal;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.well {
  background: none;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
#plaintext-signature {
  font-size: 12px;
}
.help-block {
  font-size: 12px;
}
.form-group {
  margin-bottom: 22px;
}
.alert ol, .alert ul {
  margin-bottom: 0;
}
.tab-pane {
  padding: 20px;
  border: 1px solid #DDDDDD;
  border-top: 0 none;
}
a:focus {
  outline: none !important;
}
#instructions {
  background: #f5f5f5;
  padding: 15px;
  border: 1px solid #31708f;
}
#instructions img {
  border: 1px solid #dfdfdf;
}
#instructions li {
  margin-bottom: 1em;
}

.hero {
  background: url(../images/WP-EMAIL-HeroBackground-v01.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  text-align: center;
  min-height: 565px;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    position: absolute;
    right: $padding-lg;
    top: 0;
    padding: $padding-md $padding-sm $padding-sm;
    background: $brand-default;
  }
  .textbox {
    border: 2px solid #fff;
    color: #fff;
    @extend .col-md-7;
    .box {
      padding: $padding-sm;
    }
    .icon {
      @extend .col-md-2;
      border-right: 2px solid #fff;
    }
    .title {
      @extend .col-md-10;
      padding: $padding-md - 2px;
      h1 {
        padding: 0;
        margin: 0;
        font-size: 36px;
        font-weight: bold;
      }
    }
    .content {
      border-top: 2px solid #fff;
      padding: $padding-md;
      p {
        margin: 0;
        padding: 0;
        font-size: 56px;
        line-height: 1.25em;
        font-family: $headings-font-family;
        font-weight: bold;
      }
      em {
        border-bottom: 2px solid #fff;
        display: inline-block;
      }
    }
  }
}

main {
  background: $color-bluescale-1;
}